<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Boolean Value: {{booleanValue}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="openBrowser('https://duckduckgo.com')">Open App Browser</ion-button>
  <ion-button (click)="toggleValue()">Toggle Boolean</ion-button>
  <ion-button (click)="do_something()">Do something</ion-button>

</ion-content>
